<!-- Developed by: Kalob M. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="../static/css/CalendarPage.css" th:href="@{css/CalendarPage.css}" rel="stylesheet" media="screen">
    <link href="../static/css/StyleSheet.css" th:href="@{css/StyleSheet.css}" rel="stylesheet" media="screen">
    <title>Study Cubby</title>
</head>
<script lang="javascript">
    //function that saves the data
    let saveFile = () => {

        // Get the data from each element on the form.

        var msg = document.getElementById('events');

        // This variable stores all the data.
        let data = msg.value;

        // Convert the text to BLOB.
        const textToBLOB = new Blob([data], {
            type: 'text/plain'
        });
        const sFileName = 'event.txt'; // The file to save the data.

        let newLink = document.createElement("");
        newLink.download = sFileName;

        if (window.webkitURL != null) {
            newLink.href = window.webkitURL.createObjectURL(textToBLOB);
        } else {
            newLink.href = window.URL.createObjectURL(textToBLOB);
            newLink.style.display = "";
            document.body.appendChild(newLink);
        }

        newLink.click();
    }
</script>
<!--Background Color of the entire site-->

<body style="background-color: rgb(240, 213, 191);">

    <div id="Menu" style="position:fixed;">

        <p>Menu</p>
        <div><a th:href="@{Calendar}">Calendar</a></div>
        <div><a th:href="@{Notespage}">Notes</a></div>
        <div><a th:href="@{Home Page example}">Home</a></div>
        <div><a th:href="@{Create Event}">Create Event</a></div>

    </div>
    <!--Calendar Box-->
    <div id="Body">

        <div class="container">

            <div class="calendar dark">

                <div class="calendar_header">
                    <!--Calendar Title-->
                    <h1 class="header_title">Calendar</h1>

                </div>

                <div class="event_item">
                    <div class="event_name"  th:with="text=${eventList[0].name}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_desc"  th:with="text=${eventList[0].desc}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_time"  th:with="text=${eventList[0].time}">
                        <li>
                            Time: <span th:text="${text}"></span>
                        </li>
                        
                    </div>

                    <span class="event_date"  th:with="month=${eventList[0].month}, day=${eventList[0].day}, year=${eventList[0].year}">
                        <li>
                            <span th:text="${month}"></span>/
                            <span th:text="${day}"></span>/
                            <span th:text="${year}"></span>
                        </li> 
                    </span>
                </div>

                <div class="event_item">
                    <div class="event_name"  th:with="text=${eventList[1].name}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_desc"  th:with="text=${eventList[1].desc}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_time"  th:with="text=${eventList[1].time}">
                        <li>
                            Time: <span th:text="${text}"></span>
                        </li>
                        
                    </div>

                    <span class="event_date"  th:with="month=${eventList[1].month}, day=${eventList[1].day}, year=${eventList[1].year}">
                        <li>
                            <span th:text="${month}"></span>/
                            <span th:text="${day}"></span>/
                            <span th:text="${year}"></span>
                        </li> 
                    </span>
                </div>

                <div class="event_item">
                    <div class="event_name"  th:with="text=${eventList[2].name}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_desc"  th:with="text=${eventList[2].desc}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_time"  th:with="text=${eventList[2].time}">
                        <li>
                            Time: <span th:text="${text}"></span>
                        </li>
                        
                    </div>

                    <span class="event_date"  th:with="month=${eventList[2].month}, day=${eventList[2].day}, year=${eventList[2].year}">
                        <li>
                            <span th:text="${month}"></span>/
                            <span th:text="${day}"></span>/
                            <span th:text="${year}"></span>
                        </li> 
                    </span>
                </div>

                <div class="event_item">
                    <div class="event_name"  th:with="text=${eventList[3].name}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_desc"  th:with="text=${eventList[3].desc}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_time"  th:with="text=${eventList[3].time}">
                        <li>
                            Time: <span th:text="${text}"></span>
                        </li>
                        
                    </div>

                    <span class="event_date"  th:with="month=${eventList[3].month}, day=${eventList[3].day}, year=${eventList[3].year}">
                        <li>
                            <span th:text="${month}"></span>/
                            <span th:text="${day}"></span>/
                            <span th:text="${year}"></span>
                        </li> 
                    </span>
                </div>

                <div class="event_item">
                    <div class="event_name"  th:with="text=${eventList[4].name}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_desc"  th:with="text=${eventList[4].desc}">
                        <p th:text="${text}">
                    </div>

                    <div class="event_time"  th:with="text=${eventList[4].time}">
                        <li>
                            Time: <span th:text="${text}"></span>
                        </li>
                        
                    </div>

                    <span class="event_date"  th:with="month=${eventList[4].month}, day=${eventList[4].day}, year=${eventList[4].year}">
                        <li>
                            <span th:text="${month}"></span>/
                            <span th:text="${day}"></span>/
                            <span th:text="${year}"></span>
                        </li> 
                    </span>
                </div>

                    <!--button to save-->
                    <div class="event_item">

                        <input type="button" id="bt" value="Add a new event" onclick="saveFile()" />
                        <div class="ei_Dot"></div>

                        <div class="ei_Title">15:30 am</div>

                        <div class="ei_Copy">No events</div>

                        <textarea class="events" id="events" name="events" placeholder=" " rows="1" cols="18">
        
            </textarea>

                    </div>

                </div>

            </div>

        </div>

    </div>

    </div>

</body>

</html>