<!-- Developed by: Kalob M. -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <link href="../static/css/StyleSheet.css" th:href="@{css/StyleSheet.css}" rel="stylesheet" media="screen">
   <link href="../static/css/Button.css" th:href="@{css/Button.css}" rel="stylesheet" media="screen">
	<title>Study Cubby</title>
</head>
<body style="background-color: rgb(240, 213, 191);">

    <div id="Menu" style="position:fixed;">
        <p>Menu</p>
        <div><a th:href="@{Calendar}">Calendar</a></div>
        <div><a th:href="@{Notespage}">Notes</a></div>
        <div><a th:href="@{Home Page example}">Home</a></div>
    
    </div>

    <div align="center">
        <h1>User Registration</h1>
        <form action="#" th:action="@{/Create Event}" method="post" th:object="${event}" >
            <label>Date (mm/dd/yyy):</label>
            <input type="text" th:field="*{date}" /><br/>
     
            <label>Time:</label>
            <input type="text" th:field="*{time}" /><br/>
     
            <label>Name:</label>
            <input type="text" th:field="*{name}" /><br/>
     
            <label>Description:</label>
            <input type="text" th:field="*{desc}" /><br/>
     
            <p><input type="submit" value="Submit"/></p>    
        </form>
    </div>

</body>
</html>
