<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html>
<head>
  <!--  <script src="C:\Users\Marseyas\Desktop\Test\Aglets-3380-Project\studycubby\src\main\java\com\project\studycubby"></script>-->
   <link href="../static/css/Button.css" th:href="@{css/Button.css}" rel="stylesheet" media="screen">
   <link href="../static/css/StyleSheet.css" th:href="@{css/StyleSheet.css}" rel="stylesheet" media="screen">
	<title>Deep Session Time</title>
</head>
<body style="background-color: rgb(240, 213, 191);">

    <div id="Menu" style="position:fixed;">
        <p>Menu</p>
        <div><a href="">Calendar</a></div>
        <div><a href="">Notes</a></div>
        <div><a href="Home Page example.html">Home</a></div>
    
    </div>

    <div id="Body">
      <p>Deep times will be here</p>
      <a href = "" tagret = "_blank">50</a>
    </div>
</body>
</html>
