<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link href="../static/css/Button.css" th:href="@{css/Button.css}" rel="stylesheet" media="screen">
   <link href="../static/css/StyleSheet.css" th:href="@{css/StyleSheet.css}" rel="stylesheet" media="screen">
	<title>Deep Session Time</title>
</head>
<body style="background-color: rgb(240, 213, 191);">

    <div id="Menu" style="position:fixed;">
        <p>Menu</p>
        <div><a th:href="@{CalendarPage}">Calendar</a></div>
        <div><a th:href="@{Notespage}">Notes</a></div>
        <div><a th:href="@{Home Page example}">Home</a></div>
    
    </div>

    <div id="Header">
      <p style="position:absolute; 
        left:700px; 
        top:50px; 
        text-align: center;
        font-family:'Lucida Sans'; 
        font-size:30px">
        Choose How Long You Want to Focus...
      </p>
    </div>

    <div style = "position:absolute; left:900px; top:200px">
      <a th:href="@{SessionStart-50}" class = "button" target = "_blank">50 minutes</a>
    </div>

    <div style = "position:absolute; left:900px; top:300px">
      <a th:href="@{SessionStart-110}" class = "button" target = "_blank">110 minutes</a>
    </div>

    <div style = "position:absolute; left:900px; top:400px">
      <a th:href="@{SessionStart-170}" class = "button" target = "_blank">170 minutes</a>
    </div>

    <div style = "position:absolute; left:900px; top:500px">
      <a th:href="@{SessionStart-230}" class = "button" target = "_blank">230 minutes</a>
    </div>

</body>
</html>
