<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html>
<head>
  <!--  <script src="C:\Users\Marseyas\Desktop\Test\Aglets-3380-Project\studycubby\src\main\java\com\project\studycubby"></script>-->
   <link href="../static/css/StyleSheet.css" th:href="@{css/studysession.css}" rel="stylesheet" media="screen">
	<title>Study Cubby</title>
</head>
<body style="background-color: rgb(13, 172, 119);">

    <div id="Menu" style="position:fixed;">
        <p>Menu</p>
        <div><a href="">Calendar</a></div>
        <div><a href="">Notes</a></div>
        <div><a href="">Study Session</a></div>
    
    </div>

    <div id="Body">
     
        <img src="../static/images/StudyCubbyLogo.png" alt="Study Session">
      <form>
        <button type="button" onclick="alert('Hello World!')">Start Session</button>
        
      </form>

    </div>
</body>
</html>
