<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html>
<head>
  <!--  <script src="C:\Users\Marseyas\Desktop\Test\Aglets-3380-Project\studycubby\src\main\java\com\project\studycubby"></script>-->
   <link href="../static/css/Button.css" th:href="@{css/Button.css}" rel="stylesheet" media="screen">
   <link href="../static/css/StyleSheet.css" th:href="@{css/StyleSheet.css}" rel="stylesheet" media="screen">
	<title>Study Session</title>
</head>
<body style="background-color: rgb(240, 213, 191);">

    <div id="Menu" style="position:fixed;">
        <p>Menu</p>
        <div><a href="CalendarPage.html">Calendar</a></div>
        <div><a href="Notespage.html">Notes</a></div>
        <div><a href="Home Page example.html">Home</a></div>
    
    </div>

    <div id="Header">
      <p style="position:absolute; 
        left:750px; 
        top:50px; 
        text-align: center;
        font-family:'Lucida Sans'; 
        font-size:30px">
        Studying in Progress...
      </p>
    </div>

</body>
</html>