<!-- Developed by: LaSean S. -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link href="../static/css/Button.css" th:href="@{css/Button.css}" rel="stylesheet" media="screen">
   <link href="../static/css/StyleSheet.css" th:href="@{css/StyleSheet.css}" rel="stylesheet" media="screen">
   <link href="../static/css/StudyPage.css" th:href="@{css/StudyPage.css}" rel="stylesheet" media="screen">
	<title>Study Session</title>
</head>
<body th:style="'background:url('+ @{/images/Wheat.jpg} +');'">

    <div id="Menu" style="position:fixed;">
        <p>Menu</p>
        <div><a th:href="@{CalendarPage}">Calendar</a></div>
        <div><a th:href="@{Notespage}">Notes</a></div>
        <div><a th:href="@{Home Page example}">Home</a></div>
    
    </div>

    <div id="Header">
      <p>
        Studying in Progress...
      </p>
    </div>

    <div id="TipA">
      <p>
        Just a little reminder:
      </p>
    </div>

    <!-- Displays a randomized tip object to display that is passed by the controller -->
    <div id="TipB">
      <p th:text="${tips}">
    </div>

    <!-- Displays info about the study session specifications that is passed by the controller -->
    <div id="Info">
      <p th:text="${newsession}">
    </div>

</body>
</html>