/* Formatting of the header with the title of Notes from the HTML */
.header 
{
  padding: 5px;
  text-align: center;
  background: rgb(240, 213, 191);
  color: black;
  font-size: 15px;
}

/* Formatting the calender, notes, and home links */
div a 
{
    font-size: 50px;
    margin: 55px;
    border-width: 30px;
    
}

/* Changes how far away the whole menu is 
from the top of the page*/
#Menu div 
{
    margin-top: 10%;
}

/* This moves the text to the right so it is not 
 behind the menu and is more even */
div Body 
{
    float: right;
}

#header 
{
    background: #325232;
    color: white;
    font: Lucida Sans;
    font-size: 15px;
    padding: 15px;
}

#header > #name 
{
    font-family: Times New Roman;
    display: inline-block;
}

/*  This helps format the blue menu background so it 
    looks like a seperate item  */
#Menu
{
    top: 0;
    padding-top: 1px;
    padding-bottom: 0;
    height:100%;
    width:220px;
    background-color: rgb(48,134,156);
 }
 
body 
{
    margin: 0px;
}

#menu a, #menubutton a 
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Sans-serif;
    font-size: 15px;
}

.clear 
{
    clear: both;
}

#container 
{
    margin: 20px 20px 20px 20px;
}

/*  This establishes the overall size of the html page and the background */
#area 
{
    width: 500%;
    height: 500%;
    font: Times New Roman;
    color: rgba(50, 82, 50, 1.0);
    float: right;
}

#area:focus 
{
    color: rgba(50, 82, 50, 1.0);
    border: 2px solid #96c56f;
    box-shadow: 0px 1px 1px #888888;
}

.footer 
{
    width: 100%;
    background-color: #325232;
    height: 32px;
    position: fixed;
    bottom: 0px;
}

.footer > p 
{
    margin: 8px;
    color: white;
    font: 14px arial;
    text-align: center;
}