/* this folder is for css files */
#Menu{
    top: 0;
    padding-top: 112px;
    padding-bottom: 0;
    height:100%;
    width:220px;
    background-color: rgb(48,134,156);
    

 }
 .header {
  padding: 5px;
  text-align: center;
  background: rgb(240, 213, 191);
  color: black;
  font-size: 10px;
}
body {
    margin: 0px;
}
#header {
    background: #325232;
    color: white;
    font: Times New Roman;
    font-size: 15px;
    padding: 15px;
}
#header > #name {
    font-family: Arial, Sans-serif;
    display: inline-block;
}
#menu a, #menubutton a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Sans-serif;
    font-size: 15px;
}
.clear {
    clear: both;
}
#container {
    margin: 20px 20px 20px 20px;
}
#area {
    width: 500%;
    height: 500%;
    font: 1em arial;
    color: rgba(50, 82, 50, 1.0);
    float: right;
}
#area:focus {
    color: rgba(50, 82, 50, 1.0);
    border: 2px solid #96c56f;
    box-shadow: 0px 1px 1px #888888;
}
.footer {
    width: 100%;
    background-color: #325232;
    height: 32px;
    position: fixed;
    bottom: 0px;
}
.footer > p {
    margin: 8px;
    color: white;
    font: 14px arial;
    text-align: center;
}